<h1><%= @professor.name %></h1>

<h2>Students</h2>
<% @professor.students.each do |student| %>
  <p><%= student.name %></p>
<% end %>
<br>
<p>Average Student Age: <%= @professor.average_student_age %></p>
